.App {
  text-align: center;
  margin-top: 30%;
  margin-left: 20%;
}
.moreButton{
  font-size: 20px;
  margin-top: 20px;
}
.decreaseButton{
  font-size: 20px;
}
.multiplyButton{
  font-size: 20px;
}
.shareButton{
  font-size: 20px;
}
.clearButton{
  font-size: 20px;
}
.leftinput{
 margin-right: 50px;
}
.leftinput{
  font-size: 20px;
}
.rightinput{
  font-size: 20px;
}